@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Quicksand:wght@300&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    /* font-family :"Jost",sans-serif;*/
    font-family: " Quickstand",sans-serif;
}
body{
    background: #222f3e;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background: var(--main-color) ;
    border-radius: 5px;
    font-family: "dancing script"cursive;
    overflow: hidden;
    color: #2d3b4f;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
}

.inner{
    position: absolute;
    height: 100%;
    width: 80%;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    /* background-color: #54a0ff; */
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
    -webkit-transform:translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    font-size: 1.3rem;
}

    .number::before{
        content:"" ;
        position: absolute;
        top: -130px;
        right: -30px;
        width: 90px;
        height: 200px;
        background: var(--secondary-color) ;
        -webkit-transform:rotate(-45deg);
        transform: rotate(-45deg);
        z-index: -1;
        box-shadow: 0 0 0.7rem rgba(0,0,0,0.5);
    }
    .number{
        font-family: var(--sans);
        position: absolute;
        margin: 0;
        top: 15px;
        right: 15px;
        color: rgba(255,255,255,0.7);
          
    }
    .number img{
        width: 38px;
        height: 30px;
        position: absolute;
        left:-25px;
        top: -7px;
        cursor: pointer;
        animation:rot 1s linear;
    }
    .number:hover img{
        animation: rot 1s linear;
    }

    @keyframes rot {
        from{
            transform:rotate(0deg);
        }
        to{
            transform:rotate(360deg);
        }
        
    }
    .quote{
        position: absolute;
        top: 35%;
        left: 50%;
        -webkit-transform:translate(-50%, -50%);
        transform: translate(-50%, -50%); 
        width: 80%;
        font-size: 3rem;
        
    }
:root{
    --main-color:#010b17;
    --secondary-color:#49535e;
    --sans:"josefin sans",sans seriff;
}

#newQ{
background-color: #010b17;
width: 100%;
position: relative;
bottom: -13%;
text-align: center;
height: 13%;
padding-top: 4%;
}
#quotes{
    text-align: center;
    font-size: 23px;
}
#author{
    
  margin-top: 27%;
  margin-left: 120px;
}
.fas{
    font-size: 229%;
    opacity: 0.5;
    margin-top: 7%;
margin-left: 8%;
}


  

